body {
  font-family: $font;
}
#root {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 32px 16px;
  align-items: center;
}
// Header
.container-header {
  text-align: center;
}
.app-icon {
  @include size(100px);
}
// Number
.number {
  font-size: 45vh;
  line-height: 1;
  text-align: center;
  display: block;
  color: $primary-color;
  width: 280px;
  background-color: transparent;
  border-width: 0;
  cursor: pointer;
  transition: all 0.4s ease-in;
  position: relative;

  &.active {
    border: 1px solid $primary-color;
  }
  &:focus:not(:active) {
    outline: 0;
  }
}
//Settings
.char-range {
  display: flex;
  align-items: center;
}
.value-range {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: $primary-color;
  font-size: 22px;
}
.settings-button {
  background-color: transparent;
  border: none;
  @include size(80px);

  svg {
    fill: $primary-color;
    @include size(64px);
  }

  &:hover svg {
    fill: lighten($primary-color, 10%);
  }
}
.separator svg {
  @include size(64px);
}
